@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand-color: #5D43FB;
    --brand-color-hover: #4C33E5;
    --bg-color: #FFFFFF;
    --border-color: #E5E7EB;
  }
}

@layer components {
  .btn {
    @apply text-sm font-medium inline-flex items-center justify-center rounded-full leading-5 whitespace-nowrap transition duration-150 ease-in-out;
  }

  .btn-sm {
    @apply px-4 py-2;
  }

  .btn-brand {
    @apply bg-[var(--brand-color)] text-white hover:bg-[var(--brand-color-hover)];
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Font faces */
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("/fonts/Poppins-Bold.ttf");
}